---
// src/components/DefinitionHeaderInclude.astro
import CodeSpan from "./CodeSpan.astro";
---
<div>
  Defined in header <CodeSpan inline boxed><slot name="header" slot="value" /></CodeSpan>
</div>
<style>
  div {
    padding: 1rem;
    border-bottom: 1px solid var(--vp-c-divider);
    font-size: 0.9rem;
    color: var(--vp-c-text-2);
  }
</style>
