---
// src/components/DescriptionItem.astro
import CodeSpan from './CodeSpan.astro';
interface Props {
  item_type?: string;
}
const { item_type } = Astro.props;
---
<div class="description-item">
  <div class="col1">
    <CodeSpan inline><slot name="col1" /></CodeSpan>
  </div>
  <div class="col2">
    <slot name="col2" />
    <slot name="declaration" />
  </div>
</div>
<style>
  .description-item {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--vp-c-divider);
  }

  .col1 {
    flex-shrink: 0;
    width: 12rem;
  }

  .col2 {
    flex-grow: 1;
  }
</style>
