---
// src/components/RelativeLink.astro
import CodeSpan from './CodeSpan.astro';

interface Props {
  monospace?: boolean;
}

const { monospace = false } = Astro.props;

// This logic assumes the link is a fragment identifier
const page = (await Astro.slots.render('page')) || '';
const href = page.startsWith('#') ? page : `#${page}`;
---

<a 
  href={href} 
>
  {monospace ? (
    <CodeSpan inline><slot name="text" /></CodeSpan>
  ) : (
    <slot name="text" />
  )}
</a>
<style>
  a {
    text-decoration: underline;
    text-decoration-color: var(--vp-c-brand-3);
    transition: color 0.25s;
  }

  a:hover {
    text-decoration-color: var(--vp-c-brand-2);
  }
</style>
