:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );

  --vp-c-brand-1: #3eaf7c;
  --vp-c-brand-2: #42d392;
  --vp-c-brand-3: #80e0b5;

  --vp-c-bg: #ffffff;
  --vp-c-bg-soft: #f9f9f9;
  --vp-c-bg-mute: #f1f1f1;
  --vp-c-bg-alt: #ffffff;

  --vp-c-text-1: #213547;
  --vp-c-text-2: #3c3c3c;
  --vp-c-text-3: #7f7f7f;

  --vp-c-border: #eaecef;
  --vp-c-divider: #eaecef;
  --vp-c-gutter: #f9f9f9;

  --vp-c-text-inverse-1: #ffffff;
  --vp-c-text-inverse-2: rgba(255, 255, 255, 0.87);
  --vp-c-text-inverse-3: rgba(255, 255, 255, 0.6);
}

html {
  font-family: system-ui, sans-serif;
  background-color: var(--vp-c-bg);
  color: var(--vp-c-text-1);
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--vp-c-bg-soft);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--vp-c-gutter);
  border-radius: 8px;
}

a {
  color: var(--vp-c-brand-1);
  text-decoration: none;
}
a:hover {
  color: var(--vp-c-brand-2);
}
